{% extends "base.html" %}

{% block title%}
Create Paper
{% endblock title %}

{% block content%}

<!-- Question Format -->
<div class="card card-body border-dark mb-3 d-none" id="defaultQ">
    <div class="input-group mb-2">
        <label class="input-group-text" for="q">Q</label>
        <textarea name="q" id="q" class="form-control" rows="2" placeholder="Type your question here"></textarea>

    </div>

    <div class="input-group">
        <label class="input-group-text bg-white" for="A">A</label>
        <textarea name="" id="A" class="form-control" rows="1" placeholder="Option 1"></textarea>
    </div>
    <div class="input-group">
        <label class="input-group-text bg-white" for="B">B</label>
        <textarea name="" id="B" class="form-control" rows="1" placeholder="Option 2"></textarea>
    </div>
    <div class="input-group">
        <label class="input-group-text bg-white" for="C">C</label>
        <textarea name="" id="C" class="form-control" rows="1" placeholder="Option 3"></textarea>
    </div>
    <div class="input-group mb-2">
        <label class="input-group-text bg-white" for="D">D</label>
        <textarea name="" id="D" class="form-control" rows="1" placeholder="Option 4"></textarea>
    </div>

    <div class="row g-3">
        <div class="col">
            <label for="correct_ans">Correct Answer</label>
            <select id="correct_ans" name="" class="form-select">
                <option value="" hidden>Select an option</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
        </div>
        <div class="col">
            <label for="marks">Marks</label>
            <input type="number" name="" id="marks" min="0" class="form-control" placeholder="Marks"
                onchange="calcMarks()">
        </div>
    </div>
</div>

<form id="question_form" action="{{url_for('add_exam')}}" method="post">
    <div class="sidebar col-2 card card-body border-0">
        <!-- <form id="basic_info" name="basic_info"> -->
        <div class="mb-2">
            <label class="form-label" for="total_marks">Total Marks: </label>
            <input class="form-control" value="0" name="total_marks" id="total_marks" readonly>
        </div>

        <label class="form-label" for="duration">Duration: </label>
        <div class="input-group mb-2" id="duration">
            <input class="form-control" type="number" name="hours" id="hours" placeholder="HH" min="0" required>
            <input class="form-control" type="number" name="mins" id="mins" placeholder="MM" min="0" required>
        </div>

        <div>
            <label class="form-label" for="start_time">Start Time: </label>
            <input class="form-control" type="datetime-local" name="start_time" id="start_time" onclick="set_today()"
                required>
        </div>
        <!-- </form> -->
    </div>




    <div class="col-9 my-3 offset-2 mr-2">
        <!-- <form id="question_form" action="{{url_for('add_exam')}}" method="post"> -->
        <!-- Do not change order of divs -->
        <div id="questions">

        </div>
        <!-- </form> -->
        <button class="btn btn-primary" type="button" onclick="removeQuestion()">Remove Question</button>
        <button class="btn btn-primary" type="button" onclick="addQuestion()">Add Question</button>
        <button class="btn btn-primary" onclick="saveExam()">Submit</button>
        <button class="btn btn-primary" type="button" onclick="window.location.href='{{url_for('IC_dashboard')}}';">Go
            to
            Dashboard</button>

    </div>
</form>
<script src="{{url_for('static', filename='create_paper.js')}}"></script>
{% endblock content%}