{% extends "base.html"%}
{% block title %} Online Exam Portal {% endblock %}

{% block content %}
<!-- <div align="center"> -->
    <h1 style="margin-top: 100px" align="center">Welcome to Online Examination Portal!</h1>
<!-- </div> -->

<div style="margin-top: 200px" align="center">
    <form action="{{url_for('login')}}" method="post">
      <!-- <label for="sLogin">Student Login</label> -->
      Student Login
      <input type="radio" name="Login" value="Student"><br>

      <!-- <label for="ILogin">IC Login</label> -->
      IC Login
      <input type="radio" name="Login" value="IC"><br>

      <!-- <label for="ALogin">Admin Login</label> -->
      Admin Login
      <input type="radio" name="Login" value="Admin"><br>

      <button type="submit">Submit</button>
    </form>
  </div>
  
{% endblock content %}