{% extends "base.html" %}
{% block title %}{{log_type}} Login{% endblock title %}

{% block content %}
<script>document.getElementById('nav2').style.display = 'none'</script>
<h1 style="margin-top: 70px" align="center">{{ log_type }} Login</h1>
<div class="container" style="width:40%; margin-top: 50px;">

    <form method="POST" action="{{url_for('verify', log_type=log_type)}}">
        <!-- UserID input -->
        <div class="form-outline mt-4">
            <input type="text" name="ID" class="form-control form-control-lg" placeholder="Enter UserID" />
        </div>

        <!-- Password input -->
        <div class="form-outline mt-4">
            <input type="password" name="passw" class="form-control form-control-lg" placeholder="Enter password" />
        </div>

        <div class="d-flex justify-content-between align-center mt-3">
            <a href="#!" class="text-body">Forgot password?</a>
        </div>

        <div class="text-center text-lg-center mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                class="link-danger">Register</a></p> -->
        </div>

    </form>
</div>
<!-- <div align="center">
        <a href="{{url_for('reset_passw')}}">Forgot password?</a>
    </div> -->
{% endblock content %}