{% extends "base.html" %}

{% block title%}
View Response
{% endblock title %}

{% block content%}

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="card border-dark">
                <div class="card body"></div>
                <h5 class="m-2 mb-0 card-title" id="timer" name="{{tt}}">Time Taken: {{tt}}</h5>
                <hr>
                <div class="card-text mb-2">
                    <h7 class="ms-2" id="q_attempt"></h7><br>
                    <h7 class="ms-2" id="m_attempt"></h7>
                </div>
                
            </div>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 main">
            <h6>Maximum Marks: {{tm}}</h6>
            <h6>Marks obtained: {{om}}</h6>
            <hr>
            {% for question,ans in zip(questions,given_ans) %}
                <div class="card border-dark mb-4">
                    <h4 class="card-title p-3 pb-0" name="q_no">.  {{question[1]}}</h4>
                    <hr class="m-1">
                    <div class="card-body" name="options">
                        {% for i in range(2,6) %}
                            {% if(question[i][0]==ans[0]) %}
                                <input class="m-2" type="radio" disabled checked>{{question[i]}}<br>
                            {% else %}
                                <input class="m-2" type="radio" disabled>{{question[i]}}<br>
                            {% endif %}
                        {% endfor %}
                        <div class="card-footer m-0 fw-bolder" name="footer">
                            <p class="m-0">Correct Ans: {{question[-1]}}</p>
                            <p class="m-0">Marks: {{question[0]}}</p>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
            <button class="btn btn-primary mb-3" onclick="window.location.href='{{url_for('leaderboard')}}';">Leaderboard</button>
            <button class="btn btn-primary mb-3" onclick="window.location.href='{{url_for('dashboard')}}';">Go to Dashboard</button>
        </div>
    </div>
</div>    
    

<script>
    var q_no=0;
    function ques_no(){
        let pTags = document.getElementsByName('q_no');
        for(var i=0; i<pTags.length; i++){
            pTags[i].innerHTML = "Q" + (++q_no) + pTags[i].innerHTML;
        }
    }
    ques_no();

    function attempt(){
        var q_attempted = document.querySelectorAll('input[type="radio"]:checked').length;
        var m_attempted = 0;
        for(var i=0; i<q_attempted; i++){
            m_attempted += parseFloat(document.querySelectorAll('input[type="radio"]:checked')[0].parentElement.childNodes[17].childNodes[3].innerHTML.split(':')[1])
        }
        
        var temp1 = q_attempted + "/" + q_no;
        var temp2 = m_attempted + "/" + "{{tm}}"
        temp1 = temp1.bold();
        temp2 = temp2.bold();
        document.getElementById('q_attempt').innerHTML = "Questions attempted: " + temp1;
        document.getElementById('m_attempt').innerHTML = "Marks attempted: " + temp2;
    }
    attempt();
</script>
{% endblock content%}