.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

.sidebar {
  position: fixed;
  max-width: 17rem;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  max-height: fit-content;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .main {
  padding-right: 40px;
  padding-left: 20rem; /* 180 + 40 */
}
}

label {
	float: inline-start;
}
